@import "~bootstrap/scss/bootstrap.scss";
*{
    margin: 0%;
    padding: 0%;
}

// .fondoregistro{
//     width: 40%;
//     margin-left: 32%;
    
// }
// .fondoregistro2{
//     width: 40%;
//     margin-left: 28%;
    
// }
// #floatingPassword{
//     margin-bottom: 4%;
// }
.title-register, .title-login{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

.form-register-container, .form-login-container{
    background-color: black;
    border-radius: 10px 10px 10px 10px;
}
// #fondonegro{
//     background-color: black;
//     margin-left: 11%;
//     width: 100%;
//     margin-bottom: 20%;
// }
// #fondonegro1{
//     background-color: black;
//     margin-bottom: 20%;
//     margin-left: 15%;
// }
.btn-register, .btn-login{
    border: 3px solid white;
    color: white;
}

.btn-recover{
    border: none;
}
// #user-type{
//     margin-bottom: 10%;
//     margin-left: 80%;
//     margin-top: 5%;
//     width: 20%;
// }
// .background-black-login{
//     background-color: black;
// }

// #floatingInput{
//     margin-top: 10%;
//     color: white;
// }

// .button-login{
//     background: none;
//     color: white;
//     border-radius: 20px;
//     border-color: white;
//     margin-bottom: 10%;
// }
// #recover-password{
//     border: none;
//     background-color: none;
//     margin-top: 5%;
// }

// #Login-user{
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 450%;
//     margin-left: 16%;
//     margin-bottom: -5%;
// }
// #recover{
//     margin-top: 20%;
// }
// #recover-user{
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 250%;
//     margin-left: 20%;
//     padding-top: 5px;
// }
.navbar, footer{
    background-color: black !important;
}
.tittle-res{
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
    margin-top: 1%;
}
#img-res{
    width:90%;
    background-color: rgb(216, 212, 212);
    border: solid 1px;
    border-color: rgb(158, 154, 154);
    margin-left: 10px;
    margin-top: 50px;
}
#icon-te{
    color: rgb(112, 111, 109);
    margin-right: 3px;
}
.cars-rest{
    background-color: rgb(207, 204, 202);
    width:90%;
    margin-right:10px ;
    border: solid 1px;
    border-color: rgb(158, 154, 154);
    margin-bottom: 20px;
    margin-left: 10px;
}
#text-card{
    margin-left: 4px;
}
#btn-read{
    background: none;
    border-radius: 20px;
    border: solid 2px;
    border-color: white;
    color: white;
    margin-left: 30px;
    margin-bottom: 10px;
}
#imgVR{
    width: 70%;
    margin-left:10%;
    border:solid 1px;
    border-color: rgb(119, 115, 115);
    margin-top: 5%;
}
#imgVR2{
    width: 70%;
    margin-left:10%;
    margin-top: 5%;
    clip-path: circle();
}
#tiResta{
    color: rgb(209, 117, 42);
}
#textRes{
    margin-right: 10%;
}
.fa-star{
    color: rgb(214, 187, 66);
}
#starts{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8%;
    margin-top: -5%;
}
#starts1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8%;
    margin-top: 2%;
}
#starts2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 4%;
}
#starts3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 4%;
    margin: 2px;
}
#user-reseña{
    font-size: 30px;
    color: rgb(209, 117, 42);
}
#reseñauser{
    margin-top: 3%;
    margin-left: 3%;
}
#name-reseña{
    margin-left: 13%;
    margin-top: -10%;
}
#btn-reseñas{
    border: solid 3px;
    border-color: rgb(189, 94, 38);
    border-radius: 20px;
    color: rgb(189, 94, 38);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35%;
    margin-top: 5%;
}
#btn-reseñasusuarios{
    border: solid 3px;
    border-color: rgb(189, 94, 38);
    border-radius: 20px;
    color: rgb(189, 94, 38);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 28%;
    margin-top: -10%;
}
#btnreseñasu{
    border: solid 3px;
    border-color: rgb(189, 94, 38);
    border-radius: 20px;
    color: rgb(189, 94, 38);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60%;
    margin-top: 5%;
}
#Backmenu{
    background-color: rgb(189, 94, 38);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4%;
}
#img-menu{
   width: 400px;
   clip-path: circle();
   margin-top: 15%;
}
#name-menu{
    margin-left: 38%;
    margin-top: 15%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(60, 102, 25);
}
#nameFo{
    margin-top: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(60, 102, 25);
}
#nameFo2{
    margin-top: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(3, 3, 3);
}
#nameFo3{
    margin-top: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(156, 167, 95);
}
#nameFo4{
    margin-top: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(145, 62, 36);
}
#btn-back{
    border: solid 2px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin-left: 50%;
    margin-bottom: 2%;
}
#tiReviews{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
}